/* SCROLL ANIMATIONS - STICKY NAV ANIMATION */
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes up {
  0% {
    transform: translateY(35rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

.line {
  width: 100%;
  height: 2px;
  margin: 1rem 0;
  background-color: #e8e8e8;
  display: block;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.534)),
    url("../src/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    grid-column: center-start / center-end;

    @media only screen and (max-width: 600px) {
      grid-column: full-start / full-end;
      padding: 0 2rem;
    }

    &.sticky {
      opacity: 0;
      position: fixed;
      background-color: rgba(85, 85, 85, 0.781);
      animation: show 0.7s ease-in-out forwards;
      width: 100%;
      height: 8vh;
      z-index: 900;
      padding: 0 20rem;

      @media only screen and(max-width: 1600px) {
        padding: 0 10rem;
      }

      @media only screen and(max-width: 1000px) {
        padding: 0 7rem;
      }

      @media only screen and (max-width: 800px) {
        display: none;
      }

      .header__nav-links {
        a {
          font-size: 2.6rem;
          padding-top: 2rem;
          padding-bottom: 2.1rem;

          @media only screen and(max-width: 1600px) {
            font-size: 2rem;
          }
        }
      }
    }

    &-logo {
      height: 100%;

      img {
        height: 100%;
      }
    }

    &-links {
      display: flex;

      @media only screen and (max-width: 800px) {
        display: none;
      }

      a {
        font-size: 3rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        margin-left: 3.2rem;
        padding-bottom: 0.3rem;
        border-bottom: 3px solid transparent;
        transition: border-bottom 1s;

        @media only screen and (max-width: 1600px) {
          font-size: 2.8rem;
        }

        @media only screen and (max-width: 1000px) {
          font-size: 2rem;
        }

        &:hover {
          border-bottom: 3px solid rgb(233, 154, 7);
        }
      }
    }
  }

  &__details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120rem;

    @media only screen and (max-width: 1400px) {
      width: 100%;
      padding: 0 6rem;
    }

    @media only screen and (max-width: 600px) {
      padding: 0 4rem;
    }

    h1 {
      color: #fff;
      font-weight: 300;
      font-size: 5rem;
      margin-bottom: 2rem;

      @media only screen and (max-width: 1600px) {
        font-size: 4rem;
      }

      @media only screen and (max-width: 1000px) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 800px) {
        font-size: 2.3rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 2rem;
      margin-right: 2rem;

      @media only screen and (max-width: 1600px) {
        font-size: 1.7rem;
      }

      @media only screen and (max-width: 1000px) {
        font-size: 1.3rem;
      }
    }

    &-link-1 {
      color: #fff;
      background-color: rgb(255, 136, 0);
      border: 1px solid rgb(255, 136, 0);
      padding: 1rem 2.5rem;
      border-radius: 100px;
      transition: all 1s;

      @media only screen and (max-width: 1600px) {
        padding: 0.7rem 2rem;
      }

      @media only screen and (max-width: 1000px) {
        padding: 0.5rem 1.7rem;
      }

      &:hover {
        color: rgb(255, 136, 0);
        background-color: transparent;
      }
    }

    &-link-2 {
      color: rgb(255, 136, 0);
      border: 1px solid rgb(255, 136, 0);
      padding: 1rem 2.5rem;
      border-radius: 100px;
      transition: all 1s;

      @media only screen and (max-width: 1600px) {
        padding: 0.7rem 2rem;
      }

      @media only screen and (max-width: 1000px) {
        padding: 0.5rem 1.7rem;
      }

      &:hover {
        color: #fff;
        background-color: rgb(255, 136, 0);
      }
    }
  }
}

.about {
  grid-column: center-start / center-end;
  margin-bottom: 10rem;

  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 1100px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 530px) {
      font-size: 1.6rem;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: rgba(255, 94, 0, 0.945);
      margin: 1rem auto 1rem auto;

      @media only screen and (max-width: 530px) {
        margin-top: 2rem;
      }
    }
  }

  .about__description {
    line-height: 3rem;
    font-size: 2rem;
    width: 75%;
    margin: 0 auto 5rem auto;

    @media only screen and (max-width: 1100px) {
      font-size: 1.6rem;
      width: 85%;
    }

    @media only screen and (max-width: 700px) {
      font-size: 1.4rem;
      width: 100%;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem;
    transition: all 1.4s;

    @media only screen and (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 4rem;
    }

    @media only screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
    }

    &-card {
      display: flex;
      flex-direction: column;

      ion-icon {
        font-size: 5rem;
        margin-bottom: 1.6rem;
        color: rgb(255, 145, 0);
      }

      h3 {
        font-size: 2rem;
        font-weight: 500;

        @media only screen and (max-width: 500px) {
          font-size: 1.8rem;
        }
      }

      p {
        font-size: 1.6rem;
        margin-top: 1rem;
      }
    }
  }
}

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }

  figure {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: all 1s;
    cursor: pointer;

    &:hover {
      transform: scale(1);
      opacity: 0.8;
    }
  }
}

.download {
  grid-column: full-start / full-end;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
  padding-bottom: 10rem;

  h2 {
    grid-column: center-start / center-end;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 6rem;

    @media only screen and (max-width: 1100px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: rgba(255, 94, 0, 0.945);
      margin: 2rem auto 1rem auto;
    }
  }

  &__details {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    @media only screen and (max-width: 700px) {
      grid-template-rows: 40rem;
    }

    @media only screen and (max-width: 400px) {
      grid-template-rows: 35rem;
    }

    @media only screen and (max-width: 550px) {
      grid-column: full-start / full-end;
      padding: 0 1.6rem;
    }

    &-img {
      display: flex;
      justify-content: end;

      @media only screen and (max-width: 1100px) {
        display: flex;
        justify-content: center;
        margin-bottom: 7rem;
      }

      .iphone-img.up {
        animation: up 1.5s forwards;
      }

      img {
        width: 80%;
        margin-left: auto;

        @media only screen and (max-width: 1100px) {
          margin: 0;
          width: 50%;
        }

        @media only screen and (max-width: 700px) {
          width: 35rem;
        }

        @media only screen and (max-width: 400px) {
          width: 28rem;
        }
      }
    }

    &-steps {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-step {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1300px) {
          font-size: 1.5rem;
        }

        @media only screen and (max-width: 550px) {
          display: flex;
          flex-direction: column;
          align-items: start;
        }

        span {
          color: rgb(255, 123, 0);
          font-size: 2.7rem;
          border: 1px solid rgb(255, 102, 0);
          border-radius: 100px;
          padding: 1rem 2rem;
          margin-right: 3rem;

          @media only screen and (max-width: 1300px) {
            font-size: 1.7rem;
            padding: 1.4rem 2rem;
          }

          @media only screen and (max-width: 1100px) {
            font-size: 1.3rem;
            padding: 1.4rem 2rem;
          }

          @media only screen and (max-width: 550px) {
            margin-bottom: 2rem;
            font-size: 1rem;
            padding: 1rem 1.5rem;
          }
        }
      }

      &-imgs {
        display: flex;
        margin-top: 2rem;

        @media only screen and (max-width: 550px) {
          flex-direction: column;
          align-items: center;
        }

        img {
          height: 5rem;
          width: auto;
          object-fit: cover;
          margin-right: 2rem;

          @media only screen and (max-width: 550px) {
            width: 20rem;
            height: 6rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

.cities {
  grid-column: center-start / center-end;
  padding-bottom: 10rem;

  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 6rem;

    @media only screen and (max-width: 1100px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: rgba(255, 94, 0, 0.945);
      margin: 2rem auto 1rem auto;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    transition: all 1s;

    @media only screen and (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 3rem;
    }

    @media only screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }

    &-city {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      &-information {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        ion-icon {
          font-size: 2.8rem;
          color: rgb(255, 123, 0);
          margin-right: 1rem;
        }

        p {
          font-size: 1.4rem;
        }

        a {
          text-decoration: none;
          color: rgb(255, 136, 0);
          font-size: 1.7rem;
        }
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }
}

.testimonies {
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)),
    url("../src/img/natural.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
  padding-bottom: 7rem;

  h2 {
    grid-column: center-start / center-end;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    color: #fff;

    @media only screen and (max-width: 1100px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: rgba(255, 94, 0, 0.945);
      margin: 2rem auto 1rem auto;
    }
  }

  ion-icon {
    color: #fff;
    font-size: 3rem;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      color: #555;
    }
  }

  .prev-btn {
    grid-column: 3 / 4;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3rem;

    @media only screen and (max-width: 1150px) {
      grid-column: 2 / 3;
    }

    @media only screen and (max-width: 800px) {
      grid-column: 1 / 2;
    }
  }

  .next-btn {
    grid-column: 8 / 9;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3rem;

    @media only screen and (max-width: 1150px) {
      grid-column: 9 / 10;
    }

    @media only screen and (max-width: 800px) {
      grid-column: 10 / 11;
    }
  }

  &__slider {
    grid-column: 4 / 8;
    height: 25rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 1150px) {
      grid-column: 3 / 9;
    }

    @media only screen and (max-width: 800px) {
      grid-column: 2 / 10;
    }

    @media only screen and (max-width: 420px) {
      height: 34rem;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.5s;

      p {
        font-size: 1.8rem;
        font-style: italic;
        line-height: 145%;
        position: relative;
        margin-top: 4rem;
        color: #fff;

        @media only screen and (max-width: 1150px) {
          font-size: 1.6rem;
        }
      }

      &-cite {
        display: flex;
        margin-top: 2rem;

        img {
          border-radius: 100px;
          height: 7rem;
          margin-right: 1.7rem;

          @media only screen and (max-width: 800px) {
            height: 6rem;
          }
        }

        p {
          margin: auto 0;

          @media only screen and (max-width: 800px) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.plans {
  background-color: #f4f4f4;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
  padding-bottom: 10rem;

  h2 {
    grid-column: center-start / center-end;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 6rem;

    @media only screen and (max-width: 1100px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: rgba(255, 94, 0, 0.945);
      margin: 2rem auto 1rem auto;
    }
  }

  &__details {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;

    @media only screen and (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 3rem;
    }

    @media only screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: 400px) {
      grid-column: full-start / full-end;
      padding: 2rem;
    }

    &-card {
      background-color: #fff;
      border-radius: 10px;

      &.scale {
        animation: scale 1s;
      }

      &-price {
        padding: 2rem;
        text-align: center;

        h3 {
          font-size: 2.5rem;
          font-weight: 300;
          margin-bottom: 2rem;
          text-transform: uppercase;
        }

        @media only screen and (max-width: 420px) {
          font-size: 2rem;
        }

        .card-paragraph-1 {
          font-size: 6rem;
          font-weight: 300;
          color: rgb(255, 153, 0);

          @media only screen and (max-width: 420px) {
            font-size: 4rem;
          }

          span {
            font-size: 2rem;
          }
        }

        .card-paragraph-2 {
          font-size: 1.6rem;
          margin-top: 1rem;
        }
      }

      &-features {
        padding: 1rem 2rem;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        &-feature {
          display: flex;
          align-items: center;

          ion-icon {
            color: rgb(255, 153, 0);
            font-size: 3rem;
            margin-right: 1rem;
          }

          p {
            font-size: 1.7rem;

            @media only screen and (max-width: 420px) {
              font-size: 1.4rem;
            }
          }
        }
      }

      &-btn {
        padding-top: 2rem;
        padding-bottom: 3rem;
        text-align: center;

        a {
          text-decoration: none;
          color: #fff;
          background-color: rgb(255, 94, 0);
          border: 1px solid rgb(255, 94, 0);
          padding: 1rem 2rem;
          border-radius: 100px;
          font-size: 1.8rem;
          transition: all 1s;

          &:hover {
            border: 1px solid rgb(255, 94, 0);
            background-color: transparent;
            color: rgb(255, 94, 0);
          }
        }
      }
    }
  }
}

.contact {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
  position: relative;

  @media only screen and (max-width: 700px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    filter: brightness(70%);

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  h2 {
    grid-column: center-start / center-end;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 6rem;
    color: #fff;

    @media only screen and (max-width: 1100px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: rgba(255, 94, 0, 0.945);
      margin: 2rem auto 1rem auto;
    }
  }

  &__form {
    background: linear-gradient(to right, #f06f19c9, #fdb877c5);
    padding: 5rem;
    border-radius: 10px;
    grid-column: 4 / 8;

    @media only screen and (max-width: 550px) {
      padding: 2rem;
    }

    @media only screen and (max-width: 900px) {
      grid-column: 2 / 10;
    }

    @media only screen and (max-width: 700px) {
      grid-column: full-start / full-end;
    }

    &-details {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      label {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #fff;
      }
      input {
        border-radius: 4px;
        height: 30px;
        font-size: 1.7rem;
        font-weight: 300;
        font-family: inherit;
        padding: 0.6rem;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.411);
      }

      select {
        height: 30px;
        font-size: 1.6rem;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        border: 1px solid rgba(0, 0, 0, 0.411);
        border-radius: 4px;
        outline: none;

        option {
          font-size: 1.6rem;
          font-weight: 300;
          font-family: "Lato", sans-serif;
          border-radius: 4px;
          outline: none;
        }
      }

      textarea {
        resize: none;
        border: 1px solid rgba(0, 0, 0, 0.418);
        padding: 1rem;
        border-radius: 4px;
        font-size: 1.6rem;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        outline: none;
      }
    }

    button {
      padding: 0.7rem 1.5rem;
      border-radius: 100px;
      border: 1px solid #000;
      font-size: 1.4rem;
      outline: none;
      cursor: pointer;
      transition: all 1s;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/* MODAL */
.modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.87);
  transition: all 1s;
  opacity: 0;
  min-height: 100vh;
  overflow-y: scroll;
}
.modal.open {
  opacity: 1;
  z-index: 999;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
}

.modal-content {
  margin-top: 4rem;
  position: relative;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
}

.close-btn {
  position: absolute;
  top: 3rem;
  right: 5rem;
  font-size: 3rem;
  color: #fff;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 10000;

  @media only screen and (max-width: 900px) {
    top: 1rem;
    right: 2rem;
  }
}

.nex-btn,
.pre-btn {
  background: transparent;
  font-size: 3rem;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  grid-row: 1;
}

.pre-btn {
  grid-column: 2 / 3;
  margin-left: auto;
  margin-right: 3rem;
  outline: none;

  @media only screen and (max-width: 900px) {
    grid-column: 1 / 2;
  }
}

.nex-btn {
  grid-column: 9 / 10;
  margin-right: auto;
  margin-left: 3rem;
  outline: none;

  @media only screen and (max-width: 900px) {
    grid-column: 11 / 12;
  }
}

.main-img {
  width: 100%;
  height: 60rem;
  object-fit: cover;
  border-radius: 0.25rem;
  grid-column: 3 / 9;

  @media only screen and (max-width: 900px) {
    grid-column: 2 / 11;
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: 700px) {
    height: 40rem;
  }

  @media only screen and (max-width: 500px) {
    height: 30rem;
  }

  @media only screen and (max-width: 400px) {
    height: 20rem;
  }
}
.image-name {
  text-align: center;
  margin: 1rem 0 3rem;
  color: #fff;
  font-size: 2.5rem;
  grid-column: center-start / center-end;
}
.modal-images {
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, min-content);
  padding: 0 10rem;

  @media only screen and (max-width: 900px) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: 700px) {
    padding: 0 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
  }

  @media only screen and (max-width: 550px) {
    padding: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  @media only screen and (max-width: 400px) {
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, min-content);
  }
}
.modal-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  opacity: 0.6;
  transition: all 1s;
  cursor: pointer;
}
.modal-img:hover {
  opacity: 1;
}
.modal-img.selected {
  opacity: 1;
}

.footer {
  grid-column: full-start / full-end;
  background-color: #333;
  color: #888;
  font-size: 1.7rem;
  padding: 5rem;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 17rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
  grid-row-gap: 2rem;

  @media only screen and (max-width: 1100px) {
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 2rem;
  }

  &__links {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }

    &-nav {
      @media only screen and (max-width: 550px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
        width: 100%;
        justify-items: center;
      }

      @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
      }

      a {
        color: #888;
        text-decoration: none;
        margin-right: 1.8rem;
        font-size: 2rem;
        transition: all 1s;

        @media only screen and (max-width: 1100px) {
          font-size: 1.7rem;
        }

        &:hover {
          color: #fff;
        }
      }
    }

    &-icons {
      @media only screen and (max-width: 1100px) {
        margin-top: 2rem;
      }

      ion-icon {
        margin-left: 1rem;
        font-size: 2.5rem;
        transition: all 1s;

        @media only screen and (max-width: 1100px) {
          font-size: 2rem;
        }

        @media only screen and (max-width: 550px) {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__copyright {
    grid-column: center-start / center-end;
    text-align: center;

    @media only screen and (max-width: 1100px) {
      font-size: 1.5rem;
    }
  }
}

.hidden {
  opacity: 0;
}

// MOBILE NAV
.mobile-nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.897);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 700;
  transition: transform 1s ease;
  overflow: hidden;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }

  a {
    font-size: 3.8rem;
    margin-bottom: 4.5rem;
    text-decoration: none;
    color: #fff;
    transition: all 1s;

    @media only screen and (max-width: 550px) {
      font-size: 2.5rem;
    }

    &:hover {
      opacity: 0.4;
    }
  }
}

.burguer {
  top: 2.3rem;
  cursor: pointer;
  display: none;
  right: 8rem;
  position: fixed;
  z-index: 800;

  @media only screen and (max-width: 800px) {
    display: block;
  }

  @media only screen and (max-width: 600px) {
    top: 2.3rem;
    right: 4rem;
  }

  &.toggle {
    span.line1 {
      transform: rotateZ(45deg) translateY(400%);
      background: #777;
    }

    span.line2 {
      opacity: 0;
    }

    span.line3 {
      transform: rotateZ(-45deg) translateY(-400%);
      background: #777;
    }
  }

  span {
    padding: 0.2rem 1.9rem;
    background: #777;
    margin: 0.8rem 0rem;
    display: block;
    transition: all 0.5s ease;

    @media only screen and (max-width: 500px) {
      padding: 0.2rem 1.8rem;
    }
  }
}
